%h1 Seizures
.row
  - @seizures.each do |seizure|
    .col.m6.card
      %span.card-title
        = seizure.simple_date
      %p
        = seizure.simple_time
        %br
        length:
        %br
        = seizure.parsed_length
      .card-action
        = link_to 'More Details', seizure_path(seizure)
